<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ftc9974.thorcore">
    <uses-permission android:name="org.firstinspires.ftc.ftdi.permission" />
    <!-- so apparently the FTC SDK will merge all manifest files, so I can just piggyback off the main application here -->
    <application android:largeHeap="true">
        <receiver android:name=".robot.sensors.Pixy2USBManager">
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/pixy_device_filter" />
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/pixy_device_filter" />
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
